@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background-image: linear-gradient(
    to right,
    rgb(252, 214, 255, 0.7),
    rgb(41, 216, 255, 0.7),
    rgb(255, 253, 128, 0.7),
    rgb(248, 154, 181, 0.7),
    rgb(252, 214, 255, 0.7)
  );
}

.gradient_logo {
  background-image: linear-gradient(
    to right,
    #f87bff,
    #fb92cf,
    #ffdd9b,
    #c2f0b1,
    #2fd8fe
  );
}

.gradient_bg {
  background-image: linear-gradient(
    to bottom,
    #000,
    #200d42 34%,
    #4f21a1 65%,
    #a46edb 82%
  );
}

.radial_gradient {
  background-image: radial-gradient(closest-side, #000 82%, #9560eb);
}
